In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/data_simple_labels.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 888 entries, 0 to 887
Data columns (total 26 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ATP                 888 non-null    int64
 1   Date                888 non-null    object
 2   Round               888 non-null    object
 3   Winner              888 non-null    object
 4   Loser               888 non-null    object
 5   WRank               888 non-null    int64
 6   LRank               886 non-null    float64
 7   WPts                888 non-null    int64
 8   LPts                886 non-null    float64
 9   Wsets               887 non-null    float64
 10  Lsets               887 non-null    float64
 11  B365W               888 non-null    float64
 12  B365L               888 non-null    float64
 13  PSW                 888 non-null    float64
 14  PSL                 888 non-null    float64
 15  MaxW                888 non-null    float64
 16  MaxL                888 non-null    float64
 17  AvgW                888 non-null    float64
 18  AvgL                888 non-null    float64
 19  SetsTotales         888 non-null    int64
 20  LabelWinnerRank     886 non-null    float64
 21  LabelWinnerPoints   886 non-null    float64
 22  LabelWinnerOddsB65  888 non-null    int64
 23  LabelWinnerOddsPS   888 non-null    int64
 24  LabelWinnerOddsMAX  888 non-null    int64
 25  LabelWinnerOddsAvg  888 non-null    int64
dtypes: float64(14), int64(8), object(4)
memory usage: 180.5+ KB

Agregacion de Info de Jugadores

In [3]:
df_matches = df[["Round","Winner","Loser"]]

In [4]:
winner_series=df_matches["Winner"].unique()

In [5]:
loser_series=df_matches["Loser"].unique()

In [6]:
array_players=np.concatenate((winner_series, loser_series), axis= None)

In [7]:
df_players = pd.DataFrame(array_players, columns = ['Players'])
# avoid having the players repeated
df_players.drop_duplicates(inplace=True)

In [8]:
df_players.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 292 entries, 0 to 478
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Players  292 non-null    object
dtypes: object(1)
memory usage: 4.6+ KB

Now for the Column with the number of times a player has won in round 1

In [9]:
df_round_losers = df_matches[["Round","Loser"]]
df_1round_losers= df_round_losers.loc[df_round_losers['Round'] == '1st Round']
df_1round_losers=df_1round_losers.groupby(df_1round_losers.columns.tolist()).size().reset_index().\
    rename(columns={0:'1R_L'})
df_1round_losers.rename(columns={"Loser":"Players"}, inplace=True)
players_first_round= pd.merge(df_players, df_1round_losers, on='Players', how = 'outer')
players_first_round.drop(columns=['Round'], inplace=True)

In [10]:
players_first_round.info(10)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 292 entries, 0 to 291
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Players  292 non-null    object
 1   1R_L     237 non-null    float64
dtypes: float64(1), object(1)
memory usage: 6.8+ KB

Now for the Column with the number of times a player has won in round 2

In [11]:
df_2round_losers= df_round_losers.loc[df_round_losers['Round'] == '2nd Round']
df_2round_losers=df_2round_losers.groupby(df_2round_losers.columns.tolist()).size().reset_index().\
    rename(columns={0:'2R_L'})
df_2round_losers.rename(columns={"Loser":"Players"}, inplace=True)
players_second_round= pd.merge(df_players, df_2round_losers, on='Players', how = 'outer')
players_second_round.drop(columns=['Round'], inplace=True)

In [12]:
players_second_round.info(10)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 292 entries, 0 to 291
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Players  292 non-null    object
 1   2R_L     155 non-null    float64
dtypes: float64(1), object(1)
memory usage: 6.8+ KB

Now for the Column with the number of times a player has won in round 3

In [13]:
df_3round_losers= df_round_losers.loc[df_round_losers['Round'] == '3rd Round']
df_3round_losers=df_3round_losers.groupby(df_3round_losers.columns.tolist()).size().reset_index().\
    rename(columns={0:'3R_L'})
df_3round_losers.rename(columns={"Loser":"Players"}, inplace=True)
players_third_round= pd.merge(df_players, df_3round_losers, on='Players', how = 'outer')
players_third_round.drop(columns=['Round'], inplace=True)

In [14]:
players_third_round.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 292 entries, 0 to 291
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Players  292 non-null    object
 1   3R_L     78 non-null     float64
dtypes: float64(1), object(1)
memory usage: 6.8+ KB

Now for the Column with the number of times a player has won in round 4

In [15]:
df_4round_losers= df_round_losers.loc[df_round_losers['Round'] == '4th Round']
df_4round_losers=df_4round_losers.groupby(df_4round_losers.columns.tolist()).size().reset_index().\
    rename(columns={0:'4R_L'})
df_4round_losers.rename(columns={"Loser":"Players"}, inplace=True)
players_fourth_round= pd.merge(df_players, df_4round_losers, on='Players', how = 'outer')
players_fourth_round.drop(columns=['Round'], inplace=True)

In [16]:
players_fourth_round.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 292 entries, 0 to 291
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Players  292 non-null    object
 1   4R_L     40 non-null     float64
dtypes: float64(1), object(1)
memory usage: 6.8+ KB

Now for the Column with the number of times a player has won in Quarter Finals

In [17]:
df_qfinals_losers= df_round_losers.loc[df_round_losers['Round'] == 'Quarterfinals']
df_qfinals_losers=df_qfinals_losers.groupby(df_qfinals_losers.columns.tolist()).size().reset_index().\
    rename(columns={0:'QF_L'})
df_qfinals_losers.rename(columns={"Loser":"Players"}, inplace=True)
players_qfinals= pd.merge(df_players, df_qfinals_losers, on='Players', how = 'outer')
players_qfinals.drop(columns=['Round'], inplace=True)

In [18]:
players_qfinals.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 292 entries, 0 to 291
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Players  292 non-null    object
 1   QF_L     20 non-null     float64
dtypes: float64(1), object(1)
memory usage: 6.8+ KB

Now for the Column with the number of times a player has won in Semi Finals

In [19]:
df_semifinals_losers= df_round_losers.loc[df_round_losers['Round'] == 'Semifinals']
df_semifinals_losers=df_semifinals_losers.groupby(df_semifinals_losers.columns.tolist()).size().reset_index().\
    rename(columns={0:'SF_L'})
df_semifinals_losers.rename(columns={"Loser":"Players"}, inplace=True)
players_semifinals= pd.merge(df_players, df_semifinals_losers, on='Players', how = 'outer')
players_semifinals.drop(columns=['Round'], inplace=True)

In [20]:
players_semifinals.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 292 entries, 0 to 291
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Players  292 non-null    object
 1   SF_L     12 non-null     float64
dtypes: float64(1), object(1)
memory usage: 6.8+ KB

Now for the Column with the number of times a player has won in the Final

In [21]:
df_final_losers= df_round_losers.loc[df_round_losers['Round'] == 'The Final']
df_final_losers=df_final_losers.groupby(df_final_losers.columns.tolist()).size().reset_index().\
    rename(columns={0:'F_L'})
df_final_losers.rename(columns={"Loser":"Players"}, inplace=True)
players_finals= pd.merge(df_players, df_final_losers, on='Players', how = 'outer')
players_finals.drop(columns=['Round'], inplace=True)

In [22]:
players_finals.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 292 entries, 0 to 291
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Players  292 non-null    object
 1   F_L      6 non-null      float64
dtypes: float64(1), object(1)
memory usage: 6.8+ KB

Now to merge all our columns and create a single dataframe for our players

In [23]:
df_players_allrounds = players_first_round.merge(players_second_round,on='Players', how = 'outer').\
        merge(players_third_round,on='Players', how = 'outer').\
        merge(players_fourth_round,on='Players', how = 'outer').\
        merge(players_qfinals,on='Players', how = 'outer').\
        merge(players_semifinals,on='Players', how = 'outer').merge(players_finals,on='Players', how = 'outer')

In [24]:
df_players_allrounds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 292 entries, 0 to 291
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Players  292 non-null    object
 1   1R_L     237 non-null    float64
 2   2R_L     155 non-null    float64
 3   3R_L     78 non-null     float64
 4   4R_L     40 non-null     float64
 5   QF_L     20 non-null     float64
 6   SF_L     12 non-null     float64
 7   F_L      6 non-null      float64
dtypes: float64(7), object(1)
memory usage: 20.5+ KB

In [25]:
df_players_allrounds.fillna(0, inplace=True)
df_players_allrounds.head()

         Players  1R_L  2R_L  3R_L  4R_L  QF_L  SF_L  F_L
0     Kyrgios N.   0.0   1.0   1.0   0.0   0.0   0.0  0.0
1       Paire B.   3.0   3.0   0.0   1.0   0.0   0.0  0.0
2    Sijsling I.   0.0   1.0   0.0   0.0   0.0   0.0  0.0
3  Gabashvili T.   1.0   0.0   1.0   0.0   0.0   0.0  0.0
4  Kuznetsov An.   2.0   1.0   0.0   0.0   0.0   0.0  0.0

In [26]:
df_players_allrounds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 292 entries, 0 to 291
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Players  292 non-null    object
 1   1R_L     292 non-null    float64
 2   2R_L     292 non-null    float64
 3   3R_L     292 non-null    float64
 4   4R_L     292 non-null    float64
 5   QF_L     292 non-null    float64
 6   SF_L     292 non-null    float64
 7   F_L      292 non-null    float64
dtypes: float64(7), object(1)
memory usage: 20.5+ KB

In [27]:
df_players_allrounds.loc[df_players_allrounds['Players'] == 'Djokovic N.']

        Players  1R_L  2R_L  3R_L  4R_L  QF_L  SF_L  F_L
48  Djokovic N.   0.0   0.0   0.0   0.0   3.0   1.0  1.0

In [28]:
df_players_allrounds.to_csv("table_player_loses.csv")