In [31]:
import pandas as pd
import numpy as np

In [32]:
data = pd.read_csv('data/data_simple_labels.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 888 entries, 0 to 887
Data columns (total 26 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ATP                 888 non-null    int64
 1   Date                888 non-null    object
 2   Round               888 non-null    object
 3   Winner              888 non-null    object
 4   Loser               888 non-null    object
 5   WRank               888 non-null    int64
 6   LRank               886 non-null    float64
 7   WPts                888 non-null    int64
 8   LPts                886 non-null    float64
 9   Wsets               887 non-null    float64
 10  Lsets               887 non-null    float64
 11  B365W               888 non-null    float64
 12  B365L               888 non-null    float64
 13  PSW                 888 non-null    float64
 14  PSL                 888 non-null    float64
 15  MaxW                888 non-null    float64
 16  MaxL                888 non-null    float64
 17  AvgW                888 non-null    float64
 18  AvgL                888 non-null    float64
 19  SetsTotales         888 non-null    int64
 20  LabelWinnerRank     886 non-null    float64
 21  LabelWinnerPoints   886 non-null    float64
 22  LabelWinnerOddsB65  888 non-null    int64
 23  LabelWinnerOddsPS   888 non-null    int64
 24  LabelWinnerOddsMAX  888 non-null    int64
 25  LabelWinnerOddsAvg  888 non-null    int64
dtypes: float64(14), int64(8), object(4)
memory usage: 180.5+ KB

In [33]:
df_playerwins = pd.read_csv('data/table_player_wins.csv')
df_playerwins.drop(columns=df.columns[0], axis=1, inplace=True)
df_playerwins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 292 entries, 0 to 291
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Players  292 non-null    object
 1   1R_W     292 non-null    float64
 2   2R_W     292 non-null    float64
 3   3R_W     292 non-null    float64
 4   4R_W     292 non-null    float64
 5   QF_W     292 non-null    float64
 6   SF_W     292 non-null    float64
 7   F_W      292 non-null    float64
dtypes: float64(7), object(1)
memory usage: 18.4+ KB

In [34]:
df_playerwins.head()

         Players  1R_W  2R_W  3R_W  4R_W  QF_W  SF_W  F_W
0     Kyrgios N.   2.0   1.0   0.0   0.0   0.0   0.0  0.0
1       Paire B.   4.0   1.0   1.0   0.0   0.0   0.0  0.0
2    Sijsling I.   1.0   0.0   0.0   0.0   0.0   0.0  0.0
3  Gabashvili T.   1.0   1.0   0.0   0.0   0.0   0.0  0.0
4  Kuznetsov An.   1.0   0.0   0.0   0.0   0.0   0.0  0.0

Rename the columns to match with the names of the data in the rows

In [35]:
df_playerwins.rename(columns={"1R_W":"1st Round","2R_W":"2nd Round","3R_W":"3rd Round",
                              "4R_W":"4th Round","QF_W":"Quarterfinals","SF_W":"Semifinals",
                              "F_W":"The Final"}, inplace=True)
df_playerwins.head()

,Players,1st Round,2nd Round,3rd Round,4th Round,Quarterfinals,Semifinals,The Final
0,Kyrgios N.,2.0,1.0,0.0,0.0,0.0,0.0,0.0
1,Paire B.,4.0,1.0,1.0,0.0,0.0,0.0,0.0
2,Sijsling I.,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Gabashvili T.,1.0,1.0,0.0,0.0,0.0,0.0,0.0
4,Kuznetsov An.,1.0,0.0,0.0,0.0,0.0,0.0,0.0

Lets see how we can have the data transform and aggregated like this
if the row of the data is first round, then add data point of df_playerwins in column 1st Round for the winner

In [36]:
data['Winner#RoundsWon'] = 0
for ind in data.index:
    if data['Round'][ind]== '1st Round':
        query_row=df_playerwins.loc[df_playerwins['Players'] == data['Winner'][ind]]
        data["Winner#RoundsWon"][ind] = query_row['1st Round']
        
    if data['Round'][ind]== '2nd Round':
        query_row=df_playerwins.loc[df_playerwins['Players'] == data['Winner'][ind]]
        data["Winner#RoundsWon"][ind] = query_row['2nd Round']
        
    if data['Round'][ind]== '3rd Round':
        query_row=df_playerwins.loc[df_playerwins['Players'] == data['Winner'][ind]]
        data["Winner#RoundsWon"][ind] = query_row['3rd Round']
        
    if data['Round'][ind]== '4th Round':
        query_row=df_playerwins.loc[df_playerwins['Players'] == data['Winner'][ind]]
        data["Winner#RoundsWon"][ind] = query_row['4th Round']
        
    if data['Round'][ind]== 'Quarterfinals':
        query_row=df_playerwins.loc[df_playerwins['Players'] == data['Winner'][ind]]
        data["Winner#RoundsWon"][ind] = query_row['Quarterfinals']
        
    if data['Round'][ind]== 'Semifinals':
        query_row=df_playerwins.loc[df_playerwins['Players'] == data['Winner'][ind]]
        data["Winner#RoundsWon"][ind] = query_row['Semifinals']
        
    if data['Round'][ind]== 'The Final':
        query_row=df_playerwins.loc[df_playerwins['Players'] == data['Winner'][ind]]
        data["Winner#RoundsWon"][ind] = query_row['The Final']

/var/folders/30/qpjmvdzs0ng9dh1bzzwc7brh0000gn/T/ipykernel_25869/227039210.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Winner#RoundsWon"][ind] = query_row['1st Round']
/var/folders/30/qpjmvdzs0ng9dh1bzzwc7brh0000gn/T/ipykernel_25869/227039210.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Winner#RoundsWon"][ind] = query_row['2nd Round']
/var/folders/30/qpjmvdzs0ng9dh1bzzwc7brh0000gn/T/ipykernel_25869/227039210.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Winner#RoundsWon"][ind] = query_row['3rd Round']
/var/folders/30/qpjmvdzs0ng9dh1bzzwc7brh0000gn/T/ipykernel_25869/227039210.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Winner#RoundsWon"][ind] = query_row['4th Round']
/var/folders/30/qpjmvdzs0ng9dh1bzzwc7brh0000gn/T/ipykernel_25869/227039210.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Winner#RoundsWon"][ind] = query_row['Quarterfinals']
/var/folders/30/qpjmvdzs0ng9dh1bzzwc7brh0000gn/T/ipykernel_25869/227039210.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Winner#RoundsWon"][ind] = query_row['Semifinals']
/var/folders/30/qpjmvdzs0ng9dh1bzzwc7brh0000gn/T/ipykernel_25869/227039210.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Winner#RoundsWon"][ind] = query_row['The Final']

In [37]:
data.head()

,ATP,Date,Round,Winner,Loser,WRank,LRank,WPts,LPts,Wsets,...,AvgW,AvgL,SetsTotales,LabelWinnerRank,LabelWinnerPoints,LabelWinnerOddsB65,LabelWinnerOddsPS,LabelWinnerOddsMAX,LabelWinnerOddsAvg,Winner#RoundsWon
0,33,22/05/2016,1st Round,Kyrgios N.,Cecchinato M.,19,124.0,1855,478.0,3.0,...,1.02,13.93,3,1.0,1.0,1,1,1,1,2
1,33,22/05/2016,1st Round,Paire B.,Albot R.,21,137.0,1641,423.0,3.0,...,1.16,5.11,5,1.0,1.0,1,1,1,1,4
2,33,22/05/2016,1st Round,Sijsling I.,Ungur A.,123,203.0,484,264.0,3.0,...,2.17,1.68,3,1.0,1.0,0,0,0,0,1
3,33,22/05/2016,1st Round,Gabashvili T.,Young D.,79,76.0,706,712.0,3.0,...,1.76,2.05,3,0.0,0.0,1,1,1,1,1
4,33,22/05/2016,1st Round,Kuznetsov An.,Becker B.,40,96.0,1063,600.0,3.0,...,1.09,7.47,3,1.0,1.0,1,1,1,1,1

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 888 entries, 0 to 887
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ATP                 888 non-null    int64
 1   Date                888 non-null    object
 2   Round               888 non-null    object
 3   Winner              888 non-null    object
 4   Loser               888 non-null    object
 5   WRank               888 non-null    int64
 6   LRank               886 non-null    float64
 7   WPts                888 non-null    int64
 8   LPts                886 non-null    float64
 9   Wsets               887 non-null    float64
 10  Lsets               887 non-null    float64
 11  B365W               888 non-null    float64
 12  B365L               888 non-null    float64
 13  PSW                 888 non-null    float64
 14  PSL                 888 non-null    float64
 15  MaxW                888 non-null    float64
 16  MaxL                888 non-null    float64
 17  AvgW                888 non-null    float64
 18  AvgL                888 non-null    float64
 19  SetsTotales         888 non-null    int64
 20  LabelWinnerRank     886 non-null    float64
 21  LabelWinnerPoints   886 non-null    float64
 22  LabelWinnerOddsB65  888 non-null    int64
 23  LabelWinnerOddsPS   888 non-null    int64
 24  LabelWinnerOddsMAX  888 non-null    int64
 25  LabelWinnerOddsAvg  888 non-null    int64
 26  Winner#RoundsWon    888 non-null    int64
dtypes: float64(14), int64(9), object(4)
memory usage: 187.4+ KB

Now we add the Loser info about the number of rounds won for that specific round his playing

In [39]:
data['Loser#RoundsWon'] = 0
for ind in data.index:
    if data['Round'][ind]== '1st Round':
        query_row=df_playerwins.loc[df_playerwins['Players'] == data['Loser'][ind]]
        data["Loser#RoundsWon"][ind] = query_row['1st Round']
        
    if data['Round'][ind]== '2nd Round':
        query_row=df_playerwins.loc[df_playerwins['Players'] == data['Loser'][ind]]
        data["Loser#RoundsWon"][ind] = query_row['2nd Round']
        
    if data['Round'][ind]== '3rd Round':
        query_row=df_playerwins.loc[df_playerwins['Players'] == data['Loser'][ind]]
        data["Loser#RoundsWon"][ind] = query_row['3rd Round']
        
    if data['Round'][ind]== '4th Round':
        query_row=df_playerwins.loc[df_playerwins['Players'] == data['Loser'][ind]]
        data["Loser#RoundsWon"][ind] = query_row['4th Round']
        
    if data['Round'][ind]== 'Quarterfinals':
        query_row=df_playerwins.loc[df_playerwins['Players'] == data['Loser'][ind]]
        data["Loser#RoundsWon"][ind] = query_row['Quarterfinals']
        
    if data['Round'][ind]== 'Semifinals':
        query_row=df_playerwins.loc[df_playerwins['Players'] == data['Loser'][ind]]
        data["Loser#RoundsWon"][ind] = query_row['Semifinals']
        
    if data['Round'][ind]== 'The Final':
        query_row=df_playerwins.loc[df_playerwins['Players'] == data['Loser'][ind]]
        data["Loser#RoundsWon"][ind] = query_row['The Final']

/var/folders/30/qpjmvdzs0ng9dh1bzzwc7brh0000gn/T/ipykernel_25869/3585335229.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Loser#RoundsWon"][ind] = query_row['1st Round']
/var/folders/30/qpjmvdzs0ng9dh1bzzwc7brh0000gn/T/ipykernel_25869/3585335229.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Loser#RoundsWon"][ind] = query_row['2nd Round']
/var/folders/30/qpjmvdzs0ng9dh1bzzwc7brh0000gn/T/ipykernel_25869/3585335229.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Loser#RoundsWon"][ind] = query_row['3rd Round']
/var/folders/30/qpjmvdzs0ng9dh1bzzwc7brh0000gn/T/ipykernel_25869/3585335229.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Loser#RoundsWon"][ind] = query_row['4th Round']
/var/folders/30/qpjmvdzs0ng9dh1bzzwc7brh0000gn/T/ipykernel_25869/3585335229.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Loser#RoundsWon"][ind] = query_row['Quarterfinals']
/var/folders/30/qpjmvdzs0ng9dh1bzzwc7brh0000gn/T/ipykernel_25869/3585335229.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Loser#RoundsWon"][ind] = query_row['Semifinals']
/var/folders/30/qpjmvdzs0ng9dh1bzzwc7brh0000gn/T/ipykernel_25869/3585335229.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Loser#RoundsWon"][ind] = query_row['The Final']

In [40]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 888 entries, 0 to 887
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ATP                 888 non-null    int64
 1   Date                888 non-null    object
 2   Round               888 non-null    object
 3   Winner              888 non-null    object
 4   Loser               888 non-null    object
 5   WRank               888 non-null    int64
 6   LRank               886 non-null    float64
 7   WPts                888 non-null    int64
 8   LPts                886 non-null    float64
 9   Wsets               887 non-null    float64
 10  Lsets               887 non-null    float64
 11  B365W               888 non-null    float64
 12  B365L               888 non-null    float64
 13  PSW                 888 non-null    float64
 14  PSL                 888 non-null    float64
 15  MaxW                888 non-null    float64
 16  MaxL                888 non-null    float64
 17  AvgW                888 non-null    float64
 18  AvgL                888 non-null    float64
 19  SetsTotales         888 non-null    int64
 20  LabelWinnerRank     886 non-null    float64
 21  LabelWinnerPoints   886 non-null    float64
 22  LabelWinnerOddsB65  888 non-null    int64
 23  LabelWinnerOddsPS   888 non-null    int64
 24  LabelWinnerOddsMAX  888 non-null    int64
 25  LabelWinnerOddsAvg  888 non-null    int64
 26  Winner#RoundsWon    888 non-null    int64
 27  Loser#RoundsWon     888 non-null    int64
dtypes: float64(14), int64(10), object(4)
memory usage: 194.4+ KB

In [41]:
data.head()

,ATP,Date,Round,Winner,Loser,WRank,LRank,WPts,LPts,Wsets,...,AvgL,SetsTotales,LabelWinnerRank,LabelWinnerPoints,LabelWinnerOddsB65,LabelWinnerOddsPS,LabelWinnerOddsMAX,LabelWinnerOddsAvg,Winner#RoundsWon,Loser#RoundsWon
0,33,22/05/2016,1st Round,Kyrgios N.,Cecchinato M.,19,124.0,1855,478.0,3.0,...,13.93,3,1.0,1.0,1,1,1,1,2,4
1,33,22/05/2016,1st Round,Paire B.,Albot R.,21,137.0,1641,423.0,3.0,...,5.11,5,1.0,1.0,1,1,1,1,4,3
2,33,22/05/2016,1st Round,Sijsling I.,Ungur A.,123,203.0,484,264.0,3.0,...,1.68,3,1.0,1.0,0,0,0,0,1,0
3,33,22/05/2016,1st Round,Gabashvili T.,Young D.,79,76.0,706,712.0,3.0,...,2.05,3,0.0,0.0,1,1,1,1,1,0
4,33,22/05/2016,1st Round,Kuznetsov An.,Becker B.,40,96.0,1063,600.0,3.0,...,7.47,3,1.0,1.0,1,1,1,1,1,0

In [42]:
#data.to_csv("data_count_roundswon_for_each_player.csv")

Create label, if Winner has won the most rounds then 1, else 0

In [43]:
data['LabelWinnerRounds'] = np.where(data['Winner#RoundsWon']
                       >data['Loser#RoundsWon'], 1,0 )
data.head()

,ATP,Date,Round,Winner,Loser,WRank,LRank,WPts,LPts,Wsets,...,SetsTotales,LabelWinnerRank,LabelWinnerPoints,LabelWinnerOddsB65,LabelWinnerOddsPS,LabelWinnerOddsMAX,LabelWinnerOddsAvg,Winner#RoundsWon,Loser#RoundsWon,LabelWinnerRounds
0,33,22/05/2016,1st Round,Kyrgios N.,Cecchinato M.,19,124.0,1855,478.0,3.0,...,3,1.0,1.0,1,1,1,1,2,4,0
1,33,22/05/2016,1st Round,Paire B.,Albot R.,21,137.0,1641,423.0,3.0,...,5,1.0,1.0,1,1,1,1,4,3,1
2,33,22/05/2016,1st Round,Sijsling I.,Ungur A.,123,203.0,484,264.0,3.0,...,3,1.0,1.0,0,0,0,0,1,0,1
3,33,22/05/2016,1st Round,Gabashvili T.,Young D.,79,76.0,706,712.0,3.0,...,3,0.0,0.0,1,1,1,1,1,0,1
4,33,22/05/2016,1st Round,Kuznetsov An.,Becker B.,40,96.0,1063,600.0,3.0,...,3,1.0,1.0,1,1,1,1,1,0,1

In [44]:
data.to_csv("data_with_label_rounds.csv")

Now lets experiment, if both players have the same amount of rounds won, then go with the label for odds

In [45]:
data['LabelWinnerRoundsAndOddsAvg'] = np.where(data['Winner#RoundsWon']
                       >data['Loser#RoundsWon'], 1,0 )
# create a list of our conditions
conditions = [
    (data['Winner#RoundsWon'] > data['Loser#RoundsWon']),
        (data['Winner#RoundsWon'] < data['Loser#RoundsWon']),
    (data['Winner#RoundsWon'] == data['Loser#RoundsWon'])
    ]

# create a list of the values we want to assign for each condition
values = [1, 0, -1]

# create a new column and use np.select to assign values to it using our lists as arguments
data['data'] = np.select(conditions, values)

# display updated DataFrame
data.head()

,ATP,Date,Round,Winner,Loser,WRank,LRank,WPts,LPts,Wsets,...,LabelWinnerRank,LabelWinnerPoints,LabelWinnerOddsB65,LabelWinnerOddsPS,LabelWinnerOddsMAX,LabelWinnerOddsAvg,Winner#RoundsWon,Loser#RoundsWon,LabelWinnerRounds,LabelWinnerRoundsAndOddsAvg
0,33,22/05/2016,1st Round,Kyrgios N.,Cecchinato M.,19,124.0,1855,478.0,3.0,...,1.0,1.0,1,1,1,1,2,4,0,0
1,33,22/05/2016,1st Round,Paire B.,Albot R.,21,137.0,1641,423.0,3.0,...,1.0,1.0,1,1,1,1,4,3,1,1
2,33,22/05/2016,1st Round,Sijsling I.,Ungur A.,123,203.0,484,264.0,3.0,...,1.0,1.0,0,0,0,0,1,0,1,1
3,33,22/05/2016,1st Round,Gabashvili T.,Young D.,79,76.0,706,712.0,3.0,...,0.0,0.0,1,1,1,1,1,0,1,1
4,33,22/05/2016,1st Round,Kuznetsov An.,Becker B.,40,96.0,1063,600.0,3.0,...,1.0,1.0,1,1,1,1,1,0,1,1

Now, iterate dataframe, if it encounters a row with a -1 in the 'LabelWinnerRoundsAndOddsAvg' column then assign the value of the LabelWinnerOddsAvg of the same row

In [49]:
for i in range(len(data)):
    if data.loc[i, "LabelWinnerRoundsAndOddsAvg"] == -1:
        data.loc[i, "LabelWinnerRoundsAndOddsAvg"]= data.loc[i, "LabelWinnerOddsAvg"]

In [50]:
data.head()

,ATP,Date,Round,Winner,Loser,WRank,LRank,WPts,LPts,Wsets,...,LabelWinnerRank,LabelWinnerPoints,LabelWinnerOddsB65,LabelWinnerOddsPS,LabelWinnerOddsMAX,LabelWinnerOddsAvg,Winner#RoundsWon,Loser#RoundsWon,LabelWinnerRounds,LabelWinnerRoundsAndOddsAvg
0,33,22/05/2016,1st Round,Kyrgios N.,Cecchinato M.,19,124.0,1855,478.0,3.0,...,1.0,1.0,1,1,1,1,2,4,0,0
1,33,22/05/2016,1st Round,Paire B.,Albot R.,21,137.0,1641,423.0,3.0,...,1.0,1.0,1,1,1,1,4,3,1,1
2,33,22/05/2016,1st Round,Sijsling I.,Ungur A.,123,203.0,484,264.0,3.0,...,1.0,1.0,0,0,0,0,1,0,1,1
3,33,22/05/2016,1st Round,Gabashvili T.,Young D.,79,76.0,706,712.0,3.0,...,0.0,0.0,1,1,1,1,1,0,1,1
4,33,22/05/2016,1st Round,Kuznetsov An.,Becker B.,40,96.0,1063,600.0,3.0,...,1.0,1.0,1,1,1,1,1,0,1,1

In [51]:
data.loc[data['LabelWinnerRoundsAndOddsAvg'] == -1]

Empty DataFrame
Columns: [ATP, Date, Round, Winner, Loser, WRank, LRank, WPts, LPts, Wsets, Lsets, B365W, B365L, PSW, PSL, MaxW, MaxL, AvgW, AvgL, SetsTotales, LabelWinnerRank, LabelWinnerPoints, LabelWinnerOddsB65, LabelWinnerOddsPS, LabelWinnerOddsMAX, LabelWinnerOddsAvg, Winner#RoundsWon, Loser#RoundsWon, LabelWinnerRounds, LabelWinnerRoundsAndOddsAvg]
Index: []

[0 rows x 30 columns]

With the query above, we check that there is no -1 values at all, we are left with 1s and 0s

In [52]:
data.to_csv("data_with_label_rounds_and_odds.csv")