In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('data/male/data_with_label_rounds_and_odds.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 888 entries, 0 to 887
Data columns (total 31 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   888 non-null    int64
 1   ATP                          888 non-null    int64
 2   Date                         888 non-null    object
 3   Round                        888 non-null    object
 4   Winner                       888 non-null    object
 5   Loser                        888 non-null    object
 6   WRank                        888 non-null    int64
 7   LRank                        886 non-null    float64
 8   WPts                         888 non-null    int64
 9   LPts                         886 non-null    float64
 10  Wsets                        887 non-null    float64
 11  Lsets                        887 non-null    float64
 12  B365W                        888 non-null    float64
 13  B365L                        888 non-null    float64
 14  PSW                          888 non-null    float64
 15  PSL                          888 non-null    float64
 16  MaxW                         888 non-null    float64
 17  MaxL                         888 non-null    float64
 18  AvgW                         888 non-null    float64
 19  AvgL                         888 non-null    float64
 20  SetsTotales                  888 non-null    int64
 21  LabelWinnerRank              886 non-null    float64
 22  LabelWinnerPoints            886 non-null    float64
 23  LabelWinnerOddsB65           888 non-null    int64
 24  LabelWinnerOddsPS            888 non-null    int64
 25  LabelWinnerOddsMAX           888 non-null    int64
 26  LabelWinnerOddsAvg           888 non-null    int64
 27  WinnerRoundsWon              888 non-null    int64
 28  LoserRoundsWon               888 non-null    int64
 29  LabelWinnerRounds            888 non-null    int64
 30  LabelWinnerRoundsAndOddsAvg  888 non-null    int64
dtypes: float64(14), int64(13), object(4)
memory usage: 215.2+ KB

In [5]:
df_playerloses = pd.read_csv('data/male/table_player_loses.csv')
df_playerloses.drop(columns=df_playerloses.columns[0], axis=1, inplace=True)
df_playerloses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 292 entries, 0 to 291
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Players  292 non-null    object
 1   1R_L     292 non-null    float64
 2   2R_L     292 non-null    float64
 3   3R_L     292 non-null    float64
 4   4R_L     292 non-null    float64
 5   QF_L     292 non-null    float64
 6   SF_L     292 non-null    float64
 7   F_L      292 non-null    float64
dtypes: float64(7), object(1)
memory usage: 18.4+ KB

In [6]:
df_playerloses.head()

         Players  1R_L  2R_L  3R_L  4R_L  QF_L  SF_L  F_L
0     Kyrgios N.   0.0   1.0   1.0   0.0   0.0   0.0  0.0
1       Paire B.   3.0   3.0   0.0   1.0   0.0   0.0  0.0
2    Sijsling I.   0.0   1.0   0.0   0.0   0.0   0.0  0.0
3  Gabashvili T.   1.0   0.0   1.0   0.0   0.0   0.0  0.0
4  Kuznetsov An.   2.0   1.0   0.0   0.0   0.0   0.0  0.0

Rename the columns to match with the names of the data in the rows

In [7]:
df_playerloses.rename(columns={"1R_L":"1st Round","2R_L":"2nd Round","3R_L":"3rd Round",
                              "4R_L":"4th Round","QF_L":"Quarterfinals","SF_L":"Semifinals",
                              "F_L":"The Final"}, inplace=True)
df_playerloses.head()

,Players,1st Round,2nd Round,3rd Round,4th Round,Quarterfinals,Semifinals,The Final
0,Kyrgios N.,0.0,1.0,1.0,0.0,0.0,0.0,0.0
1,Paire B.,3.0,3.0,0.0,1.0,0.0,0.0,0.0
2,Sijsling I.,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,Gabashvili T.,1.0,0.0,1.0,0.0,0.0,0.0,0.0
4,Kuznetsov An.,2.0,1.0,0.0,0.0,0.0,0.0,0.0

Lets see how we can have the data transform and aggregated like this
if the row of the data is first round, then add data point of df_playerloses in column 1st Round for the winner

In [8]:
data['WinnerRoundsLost'] = 0
for ind in data.index:
    if data['Round'][ind]== '1st Round':
        query_row=df_playerloses.loc[df_playerloses['Players'] == data['Winner'][ind]]
        data["WinnerRoundsLost"][ind] = query_row['1st Round']
        
    if data['Round'][ind]== '2nd Round':
        query_row=df_playerloses.loc[df_playerloses['Players'] == data['Winner'][ind]]
        data["WinnerRoundsLost"][ind] = query_row['2nd Round']
        
    if data['Round'][ind]== '3rd Round':
        query_row=df_playerloses.loc[df_playerloses['Players'] == data['Winner'][ind]]
        data["WinnerRoundsLost"][ind] = query_row['3rd Round']
        
    if data['Round'][ind]== '4th Round':
        query_row=df_playerloses.loc[df_playerloses['Players'] == data['Winner'][ind]]
        data["WinnerRoundsLost"][ind] = query_row['4th Round']
        
    if data['Round'][ind]== 'Quarterfinals':
        query_row=df_playerloses.loc[df_playerloses['Players'] == data['Winner'][ind]]
        data["WinnerRoundsLost"][ind] = query_row['Quarterfinals']
        
    if data['Round'][ind]== 'Semifinals':
        query_row=df_playerloses.loc[df_playerloses['Players'] == data['Winner'][ind]]
        data["WinnerRoundsLost"][ind] = query_row['Semifinals']
        
    if data['Round'][ind]== 'The Final':
        query_row=df_playerloses.loc[df_playerloses['Players'] == data['Winner'][ind]]
        data["WinnerRoundsLost"][ind] = query_row['The Final']

/var/folders/30/qpjmvdzs0ng9dh1bzzwc7brh0000gn/T/ipykernel_15053/4203579553.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["WinnerRoundsLost"][ind] = query_row['1st Round']
/var/folders/30/qpjmvdzs0ng9dh1bzzwc7brh0000gn/T/ipykernel_15053/4203579553.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["WinnerRoundsLost"][ind] = query_row['2nd Round']
/var/folders/30/qpjmvdzs0ng9dh1bzzwc7brh0000gn/T/ipykernel_15053/4203579553.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["WinnerRoundsLost"][ind] = query_row['3rd Round']
/var/folders/30/qpjmvdzs0ng9dh1bzzwc7brh0000gn/T/ipykernel_15053/4203579553.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["WinnerRoundsLost"][ind] = query_row['4th Round']
/var/folders/30/qpjmvdzs0ng9dh1bzzwc7brh0000gn/T/ipykernel_15053/4203579553.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["WinnerRoundsLost"][ind] = query_row['Quarterfinals']
/var/folders/30/qpjmvdzs0ng9dh1bzzwc7brh0000gn/T/ipykernel_15053/4203579553.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["WinnerRoundsLost"][ind] = query_row['Semifinals']
/var/folders/30/qpjmvdzs0ng9dh1bzzwc7brh0000gn/T/ipykernel_15053/4203579553.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["WinnerRoundsLost"][ind] = query_row['The Final']

In [9]:
data.head()

,Unnamed: 0,ATP,Date,Round,Winner,Loser,WRank,LRank,WPts,LPts,...,LabelWinnerPoints,LabelWinnerOddsB65,LabelWinnerOddsPS,LabelWinnerOddsMAX,LabelWinnerOddsAvg,WinnerRoundsWon,LoserRoundsWon,LabelWinnerRounds,LabelWinnerRoundsAndOddsAvg,WinnerRoundsLost
0,0,33,22/05/2016,1st Round,Kyrgios N.,Cecchinato M.,19,124.0,1855,478.0,...,1.0,1,1,1,1,2,4,0,0,0
1,1,33,22/05/2016,1st Round,Paire B.,Albot R.,21,137.0,1641,423.0,...,1.0,1,1,1,1,4,3,1,1,3
2,2,33,22/05/2016,1st Round,Sijsling I.,Ungur A.,123,203.0,484,264.0,...,1.0,0,0,0,0,1,0,1,1,0
3,3,33,22/05/2016,1st Round,Gabashvili T.,Young D.,79,76.0,706,712.0,...,0.0,1,1,1,1,1,0,1,1,1
4,4,33,22/05/2016,1st Round,Kuznetsov An.,Becker B.,40,96.0,1063,600.0,...,1.0,1,1,1,1,1,0,1,1,2

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 888 entries, 0 to 887
Data columns (total 32 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   888 non-null    int64
 1   ATP                          888 non-null    int64
 2   Date                         888 non-null    object
 3   Round                        888 non-null    object
 4   Winner                       888 non-null    object
 5   Loser                        888 non-null    object
 6   WRank                        888 non-null    int64
 7   LRank                        886 non-null    float64
 8   WPts                         888 non-null    int64
 9   LPts                         886 non-null    float64
 10  Wsets                        887 non-null    float64
 11  Lsets                        887 non-null    float64
 12  B365W                        888 non-null    float64
 13  B365L                        888 non-null    float64
 14  PSW                          888 non-null    float64
 15  PSL                          888 non-null    float64
 16  MaxW                         888 non-null    float64
 17  MaxL                         888 non-null    float64
 18  AvgW                         888 non-null    float64
 19  AvgL                         888 non-null    float64
 20  SetsTotales                  888 non-null    int64
 21  LabelWinnerRank              886 non-null    float64
 22  LabelWinnerPoints            886 non-null    float64
 23  LabelWinnerOddsB65           888 non-null    int64
 24  LabelWinnerOddsPS            888 non-null    int64
 25  LabelWinnerOddsMAX           888 non-null    int64
 26  LabelWinnerOddsAvg           888 non-null    int64
 27  WinnerRoundsWon              888 non-null    int64
 28  LoserRoundsWon               888 non-null    int64
 29  LabelWinnerRounds            888 non-null    int64
 30  LabelWinnerRoundsAndOddsAvg  888 non-null    int64
 31  WinnerRoundsLost             888 non-null    int64
dtypes: float64(14), int64(14), object(4)
memory usage: 222.1+ KB

Now we add the Loser info about the number of rounds won for that specific round his playing

In [11]:
data['LoserRoundsLost'] = 0
for ind in data.index:
    if data['Round'][ind]== '1st Round':
        query_row=df_playerloses.loc[df_playerloses['Players'] == data['Loser'][ind]]
        data["LoserRoundsLost"][ind] = query_row['1st Round']
        
    if data['Round'][ind]== '2nd Round':
        query_row=df_playerloses.loc[df_playerloses['Players'] == data['Loser'][ind]]
        data["LoserRoundsLost"][ind] = query_row['2nd Round']
        
    if data['Round'][ind]== '3rd Round':
        query_row=df_playerloses.loc[df_playerloses['Players'] == data['Loser'][ind]]
        data["LoserRoundsLost"][ind] = query_row['3rd Round']
        
    if data['Round'][ind]== '4th Round':
        query_row=df_playerloses.loc[df_playerloses['Players'] == data['Loser'][ind]]
        data["LoserRoundsLost"][ind] = query_row['4th Round']
        
    if data['Round'][ind]== 'Quarterfinals':
        query_row=df_playerloses.loc[df_playerloses['Players'] == data['Loser'][ind]]
        data["LoserRoundsLost"][ind] = query_row['Quarterfinals']
        
    if data['Round'][ind]== 'Semifinals':
        query_row=df_playerloses.loc[df_playerloses['Players'] == data['Loser'][ind]]
        data["LoserRoundsLost"][ind] = query_row['Semifinals']
        
    if data['Round'][ind]== 'The Final':
        query_row=df_playerloses.loc[df_playerloses['Players'] == data['Loser'][ind]]
        data["LoserRoundsLost"][ind] = query_row['The Final']

/var/folders/30/qpjmvdzs0ng9dh1bzzwc7brh0000gn/T/ipykernel_15053/1899390611.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["LoserRoundsLost"][ind] = query_row['1st Round']
/var/folders/30/qpjmvdzs0ng9dh1bzzwc7brh0000gn/T/ipykernel_15053/1899390611.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["LoserRoundsLost"][ind] = query_row['2nd Round']
/var/folders/30/qpjmvdzs0ng9dh1bzzwc7brh0000gn/T/ipykernel_15053/1899390611.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["LoserRoundsLost"][ind] = query_row['3rd Round']
/var/folders/30/qpjmvdzs0ng9dh1bzzwc7brh0000gn/T/ipykernel_15053/1899390611.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["LoserRoundsLost"][ind] = query_row['4th Round']
/var/folders/30/qpjmvdzs0ng9dh1bzzwc7brh0000gn/T/ipykernel_15053/1899390611.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["LoserRoundsLost"][ind] = query_row['Quarterfinals']
/var/folders/30/qpjmvdzs0ng9dh1bzzwc7brh0000gn/T/ipykernel_15053/1899390611.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["LoserRoundsLost"][ind] = query_row['Semifinals']
/var/folders/30/qpjmvdzs0ng9dh1bzzwc7brh0000gn/T/ipykernel_15053/1899390611.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["LoserRoundsLost"][ind] = query_row['The Final']

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 888 entries, 0 to 887
Data columns (total 33 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   888 non-null    int64
 1   ATP                          888 non-null    int64
 2   Date                         888 non-null    object
 3   Round                        888 non-null    object
 4   Winner                       888 non-null    object
 5   Loser                        888 non-null    object
 6   WRank                        888 non-null    int64
 7   LRank                        886 non-null    float64
 8   WPts                         888 non-null    int64
 9   LPts                         886 non-null    float64
 10  Wsets                        887 non-null    float64
 11  Lsets                        887 non-null    float64
 12  B365W                        888 non-null    float64
 13  B365L                        888 non-null    float64
 14  PSW                          888 non-null    float64
 15  PSL                          888 non-null    float64
 16  MaxW                         888 non-null    float64
 17  MaxL                         888 non-null    float64
 18  AvgW                         888 non-null    float64
 19  AvgL                         888 non-null    float64
 20  SetsTotales                  888 non-null    int64
 21  LabelWinnerRank              886 non-null    float64
 22  LabelWinnerPoints            886 non-null    float64
 23  LabelWinnerOddsB65           888 non-null    int64
 24  LabelWinnerOddsPS            888 non-null    int64
 25  LabelWinnerOddsMAX           888 non-null    int64
 26  LabelWinnerOddsAvg           888 non-null    int64
 27  WinnerRoundsWon              888 non-null    int64
 28  LoserRoundsWon               888 non-null    int64
 29  LabelWinnerRounds            888 non-null    int64
 30  LabelWinnerRoundsAndOddsAvg  888 non-null    int64
 31  WinnerRoundsLost             888 non-null    int64
 32  LoserRoundsLost              888 non-null    int64
dtypes: float64(14), int64(15), object(4)
memory usage: 229.1+ KB

In [13]:
data.head()

,Unnamed: 0,ATP,Date,Round,Winner,Loser,WRank,LRank,WPts,LPts,...,LabelWinnerOddsB65,LabelWinnerOddsPS,LabelWinnerOddsMAX,LabelWinnerOddsAvg,WinnerRoundsWon,LoserRoundsWon,LabelWinnerRounds,LabelWinnerRoundsAndOddsAvg,WinnerRoundsLost,LoserRoundsLost
0,0,33,22/05/2016,1st Round,Kyrgios N.,Cecchinato M.,19,124.0,1855,478.0,...,1,1,1,1,2,4,0,0,0,2
1,1,33,22/05/2016,1st Round,Paire B.,Albot R.,21,137.0,1641,423.0,...,1,1,1,1,4,3,1,1,3,3
2,2,33,22/05/2016,1st Round,Sijsling I.,Ungur A.,123,203.0,484,264.0,...,0,0,0,0,1,0,1,1,0,1
3,3,33,22/05/2016,1st Round,Gabashvili T.,Young D.,79,76.0,706,712.0,...,1,1,1,1,1,0,1,1,1,2
4,4,33,22/05/2016,1st Round,Kuznetsov An.,Becker B.,40,96.0,1063,600.0,...,1,1,1,1,1,0,1,1,2,1

In [14]:
#data.to_csv("data_count_roundslost_for_each_player.csv")

To make the regression label, we need a continuous numeric label, we are going to create a column adding the sum of rounds won and lost for each player, and then divide the ones where he won over all the games total to get a fraction number.

Create the sum of games played by Winner

In [15]:
data['WinnerRoundsPlayed'] = data['WinnerRoundsWon'] + data['WinnerRoundsLost']
data.head()

,Unnamed: 0,ATP,Date,Round,Winner,Loser,WRank,LRank,WPts,LPts,...,LabelWinnerOddsPS,LabelWinnerOddsMAX,LabelWinnerOddsAvg,WinnerRoundsWon,LoserRoundsWon,LabelWinnerRounds,LabelWinnerRoundsAndOddsAvg,WinnerRoundsLost,LoserRoundsLost,WinnerRoundsPlayed
0,0,33,22/05/2016,1st Round,Kyrgios N.,Cecchinato M.,19,124.0,1855,478.0,...,1,1,1,2,4,0,0,0,2,2
1,1,33,22/05/2016,1st Round,Paire B.,Albot R.,21,137.0,1641,423.0,...,1,1,1,4,3,1,1,3,3,7
2,2,33,22/05/2016,1st Round,Sijsling I.,Ungur A.,123,203.0,484,264.0,...,0,0,0,1,0,1,1,0,1,1
3,3,33,22/05/2016,1st Round,Gabashvili T.,Young D.,79,76.0,706,712.0,...,1,1,1,1,0,1,1,1,2,2
4,4,33,22/05/2016,1st Round,Kuznetsov An.,Becker B.,40,96.0,1063,600.0,...,1,1,1,1,0,1,1,2,1,3

Create the sum of games played by Loser

In [16]:
data['LoserRoundsPlayed'] = data['LoserRoundsWon'] + data['LoserRoundsLost']
data.head()

,Unnamed: 0,ATP,Date,Round,Winner,Loser,WRank,LRank,WPts,LPts,...,LabelWinnerOddsMAX,LabelWinnerOddsAvg,WinnerRoundsWon,LoserRoundsWon,LabelWinnerRounds,LabelWinnerRoundsAndOddsAvg,WinnerRoundsLost,LoserRoundsLost,WinnerRoundsPlayed,LoserRoundsPlayed
0,0,33,22/05/2016,1st Round,Kyrgios N.,Cecchinato M.,19,124.0,1855,478.0,...,1,1,2,4,0,0,0,2,2,6
1,1,33,22/05/2016,1st Round,Paire B.,Albot R.,21,137.0,1641,423.0,...,1,1,4,3,1,1,3,3,7,6
2,2,33,22/05/2016,1st Round,Sijsling I.,Ungur A.,123,203.0,484,264.0,...,0,0,1,0,1,1,0,1,1,1
3,3,33,22/05/2016,1st Round,Gabashvili T.,Young D.,79,76.0,706,712.0,...,1,1,1,0,1,1,1,2,2,2
4,4,33,22/05/2016,1st Round,Kuznetsov An.,Becker B.,40,96.0,1063,600.0,...,1,1,1,0,1,1,2,1,3,1

Now lets create the numeric label for winners and losers

In [17]:
data['LabelWinnerRoundsWonOverAll'] = data['WinnerRoundsWon'] / data['WinnerRoundsPlayed']

In [18]:
data['LabelLoserRoundsWonOverAll'] = data['LoserRoundsWon'] / data['LoserRoundsPlayed']

In [19]:
data.head()

,Unnamed: 0,ATP,Date,Round,Winner,Loser,WRank,LRank,WPts,LPts,...,WinnerRoundsWon,LoserRoundsWon,LabelWinnerRounds,LabelWinnerRoundsAndOddsAvg,WinnerRoundsLost,LoserRoundsLost,WinnerRoundsPlayed,LoserRoundsPlayed,LabelWinnerRoundsWonOverAll,LabelLoserRoundsWonOverAll
0,0,33,22/05/2016,1st Round,Kyrgios N.,Cecchinato M.,19,124.0,1855,478.0,...,2,4,0,0,0,2,2,6,1.000000,0.666667
1,1,33,22/05/2016,1st Round,Paire B.,Albot R.,21,137.0,1641,423.0,...,4,3,1,1,3,3,7,6,0.571429,0.500000
2,2,33,22/05/2016,1st Round,Sijsling I.,Ungur A.,123,203.0,484,264.0,...,1,0,1,1,0,1,1,1,1.000000,0.000000
3,3,33,22/05/2016,1st Round,Gabashvili T.,Young D.,79,76.0,706,712.0,...,1,0,1,1,1,2,2,2,0.500000,0.000000
4,4,33,22/05/2016,1st Round,Kuznetsov An.,Becker B.,40,96.0,1063,600.0,...,1,0,1,1,2,1,3,1,0.333333,0.000000

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 888 entries, 0 to 887
Data columns (total 37 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   888 non-null    int64
 1   ATP                          888 non-null    int64
 2   Date                         888 non-null    object
 3   Round                        888 non-null    object
 4   Winner                       888 non-null    object
 5   Loser                        888 non-null    object
 6   WRank                        888 non-null    int64
 7   LRank                        886 non-null    float64
 8   WPts                         888 non-null    int64
 9   LPts                         886 non-null    float64
 10  Wsets                        887 non-null    float64
 11  Lsets                        887 non-null    float64
 12  B365W                        888 non-null    float64
 13  B365L                        888 non-null    float64
 14  PSW                          888 non-null    float64
 15  PSL                          888 non-null    float64
 16  MaxW                         888 non-null    float64
 17  MaxL                         888 non-null    float64
 18  AvgW                         888 non-null    float64
 19  AvgL                         888 non-null    float64
 20  SetsTotales                  888 non-null    int64
 21  LabelWinnerRank              886 non-null    float64
 22  LabelWinnerPoints            886 non-null    float64
 23  LabelWinnerOddsB65           888 non-null    int64
 24  LabelWinnerOddsPS            888 non-null    int64
 25  LabelWinnerOddsMAX           888 non-null    int64
 26  LabelWinnerOddsAvg           888 non-null    int64
 27  WinnerRoundsWon              888 non-null    int64
 28  LoserRoundsWon               888 non-null    int64
 29  LabelWinnerRounds            888 non-null    int64
 30  LabelWinnerRoundsAndOddsAvg  888 non-null    int64
 31  WinnerRoundsLost             888 non-null    int64
 32  LoserRoundsLost              888 non-null    int64
 33  WinnerRoundsPlayed           888 non-null    int64
 34  LoserRoundsPlayed            888 non-null    int64
 35  LabelWinnerRoundsWonOverAll  888 non-null    float64
 36  LabelLoserRoundsWonOverAll   888 non-null    float64
dtypes: float64(16), int64(17), object(4)
memory usage: 256.8+ KB

In [21]:
data['LabelWinnerRoundsWonOverAll'] = data['LabelWinnerRoundsWonOverAll'].map(lambda x: "{:,.4f}".format(x))
data['LabelLoserRoundsWonOverAll'] = data['LabelLoserRoundsWonOverAll'].map(lambda x: "{:,.4f}".format(x))

In [22]:
data.head()

,Unnamed: 0,ATP,Date,Round,Winner,Loser,WRank,LRank,WPts,LPts,...,WinnerRoundsWon,LoserRoundsWon,LabelWinnerRounds,LabelWinnerRoundsAndOddsAvg,WinnerRoundsLost,LoserRoundsLost,WinnerRoundsPlayed,LoserRoundsPlayed,LabelWinnerRoundsWonOverAll,LabelLoserRoundsWonOverAll
0,0,33,22/05/2016,1st Round,Kyrgios N.,Cecchinato M.,19,124.0,1855,478.0,...,2,4,0,0,0,2,2,6,1.0000,0.6667
1,1,33,22/05/2016,1st Round,Paire B.,Albot R.,21,137.0,1641,423.0,...,4,3,1,1,3,3,7,6,0.5714,0.5000
2,2,33,22/05/2016,1st Round,Sijsling I.,Ungur A.,123,203.0,484,264.0,...,1,0,1,1,0,1,1,1,1.0000,0.0000
3,3,33,22/05/2016,1st Round,Gabashvili T.,Young D.,79,76.0,706,712.0,...,1,0,1,1,1,2,2,2,0.5000,0.0000
4,4,33,22/05/2016,1st Round,Kuznetsov An.,Becker B.,40,96.0,1063,600.0,...,1,0,1,1,2,1,3,1,0.3333,0.0000

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 888 entries, 0 to 887
Data columns (total 37 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   888 non-null    int64
 1   ATP                          888 non-null    int64
 2   Date                         888 non-null    object
 3   Round                        888 non-null    object
 4   Winner                       888 non-null    object
 5   Loser                        888 non-null    object
 6   WRank                        888 non-null    int64
 7   LRank                        886 non-null    float64
 8   WPts                         888 non-null    int64
 9   LPts                         886 non-null    float64
 10  Wsets                        887 non-null    float64
 11  Lsets                        887 non-null    float64
 12  B365W                        888 non-null    float64
 13  B365L                        888 non-null    float64
 14  PSW                          888 non-null    float64
 15  PSL                          888 non-null    float64
 16  MaxW                         888 non-null    float64
 17  MaxL                         888 non-null    float64
 18  AvgW                         888 non-null    float64
 19  AvgL                         888 non-null    float64
 20  SetsTotales                  888 non-null    int64
 21  LabelWinnerRank              886 non-null    float64
 22  LabelWinnerPoints            886 non-null    float64
 23  LabelWinnerOddsB65           888 non-null    int64
 24  LabelWinnerOddsPS            888 non-null    int64
 25  LabelWinnerOddsMAX           888 non-null    int64
 26  LabelWinnerOddsAvg           888 non-null    int64
 27  WinnerRoundsWon              888 non-null    int64
 28  LoserRoundsWon               888 non-null    int64
 29  LabelWinnerRounds            888 non-null    int64
 30  LabelWinnerRoundsAndOddsAvg  888 non-null    int64
 31  WinnerRoundsLost             888 non-null    int64
 32  LoserRoundsLost              888 non-null    int64
 33  WinnerRoundsPlayed           888 non-null    int64
 34  LoserRoundsPlayed            888 non-null    int64
 35  LabelWinnerRoundsWonOverAll  888 non-null    object
 36  LabelLoserRoundsWonOverAll   888 non-null    object
dtypes: float64(14), int64(17), object(6)
memory usage: 256.8+ KB

In [24]:
data.drop(columns=data.columns[0], axis=1, inplace=True)
data.to_csv("data_label_winner_rounds_won_overall_regression.csv", index=False)