In [1]:
import pandas as pd
import json

datos_hombres = pd.read_csv("M_PrediccionTennis.xlsx - MEN.csv")
datos_hombres.head()

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,PlayerA,PlayerB,Arank,Brank,Apts,Bpts,B365A,B365B
0,NaN,Paris,French Open,28/5/2023,Grand Slam,Outdoor,Clay,1st Round,5,Goffin D.,Hurkacz H.,113,13,570,2525,3.000,1.40
1,NaN,Paris,French Open,28/5/2023,Grand Slam,Outdoor,Clay,1st Round,5,Khachanov K.,Lestienne C.,11,69,2945,769,1.025,17.00
2,NaN,Paris,French Open,28/5/2023,Grand Slam,Outdoor,Clay,1st Round,5,Martinez P.,Griekspoor T.,135,39,448,1034,1.720,2.10
3,NaN,Paris,French Open,28/5/2023,Grand Slam,Outdoor,Clay,1st Round,5,Ofner S.,Cressy M.,118,42,534,975,1.360,3.20
4,NaN,Paris,French Open,28/5/2023,Grand Slam,Outdoor,Clay,1st Round,5,Kypson P.,Albot R.,323,111,154,564,3.200,1.36

In [2]:
datos_mujeres = pd.read_csv("W_PrediccionTennis.xlsx - WOMAN.csv")
datos_mujeres.head()

,WTP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,PlayerA,PlayerB,Arank,Brank,Apts,Bpts,B365A,B365B
0,NaN,Paris,French Open,28/5/2023,Grand Slam,Outdoor,Clay,1st Round,5,Zhang S.,Frech M.,30,87,1355,720,3.75,1.28
1,NaN,Paris,French Open,28/5/2023,Grand Slam,Outdoor,Clay,1st Round,5,Podoroska N.,Ponchet J.,101,123,639,566,1.66,2.20
2,NaN,Paris,French Open,28/5/2023,Grand Slam,Outdoor,Clay,1st Round,5,Kostyuk M.,Sabalenka A.,39,2,1225,7541,6.50,1.11
3,NaN,Paris,French Open,28/5/2023,Grand Slam,Outdoor,Clay,1st Round,5,Udvardy P.,Shymanovich I.,95,211,675,335,2.75,1.44
4,NaN,Paris,French Open,28/5/2023,Grand Slam,Outdoor,Clay,1st Round,5,Parrizas Diaz N.,Hunter S.,93,202,679,346,1.80,2.00

In [3]:
dict_hombres = {}
dict_mujeres = {}

with open("mapeo_hombres.json", "r") as file:
    dict_hombres = json.load(file)

with open("mapeo_mujeres.json", "r") as file:
    dict_mujeres = json.load(file)

In [4]:
def mapear_M(name):
    if name in dict_hombres:
        return dict_hombres[name]
    return 0

def mapear_W(name):
    if name in dict_mujeres:
        return dict_mujeres[name]
    return 0

In [5]:
datos_hombres.insert(loc=10, column='PlayerA_id', value=datos_hombres['PlayerA'].apply(mapear_M))
datos_hombres.insert(loc=12, column='PlayerB_id', value=datos_hombres['PlayerB'].apply(mapear_M))
datos_hombres.head()

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,PlayerA,PlayerA_id,PlayerB,PlayerB_id,Arank,Brank,Apts,Bpts,B365A,B365B
0,NaN,Paris,French Open,28/5/2023,Grand Slam,Outdoor,Clay,1st Round,5,Goffin D.,30,Hurkacz H.,280,113,13,570,2525,3.000,1.40
1,NaN,Paris,French Open,28/5/2023,Grand Slam,Outdoor,Clay,1st Round,5,Khachanov K.,210,Lestienne C.,0,11,69,2945,769,1.025,17.00
2,NaN,Paris,French Open,28/5/2023,Grand Slam,Outdoor,Clay,1st Round,5,Martinez P.,195,Griekspoor T.,91,135,39,448,1034,1.720,2.10
3,NaN,Paris,French Open,28/5/2023,Grand Slam,Outdoor,Clay,1st Round,5,Ofner S.,138,Cressy M.,287,118,42,534,975,1.360,3.20
4,NaN,Paris,French Open,28/5/2023,Grand Slam,Outdoor,Clay,1st Round,5,Kypson P.,0,Albot R.,150,323,111,154,564,3.200,1.36

In [6]:
datos_mujeres.insert(loc=10, column='PlayerA_id', value=datos_mujeres['PlayerA'].apply(mapear_W))
datos_mujeres.insert(loc=12, column='PlayerB_id', value=datos_mujeres['PlayerB'].apply(mapear_W))
datos_mujeres.head()

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,PlayerA,PlayerA_id,PlayerB,PlayerB_id,Arank,Brank,Apts,Bpts,B365A,B365B
0,NaN,Paris,French Open,28/5/2023,Grand Slam,Outdoor,Clay,1st Round,5,Goffin D.,30,Hurkacz H.,280,113,13,570,2525,3.000,1.40
1,NaN,Paris,French Open,28/5/2023,Grand Slam,Outdoor,Clay,1st Round,5,Khachanov K.,210,Lestienne C.,0,11,69,2945,769,1.025,17.00
2,NaN,Paris,French Open,28/5/2023,Grand Slam,Outdoor,Clay,1st Round,5,Martinez P.,195,Griekspoor T.,91,135,39,448,1034,1.720,2.10
3,NaN,Paris,French Open,28/5/2023,Grand Slam,Outdoor,Clay,1st Round,5,Ofner S.,138,Cressy M.,287,118,42,534,975,1.360,3.20
4,NaN,Paris,French Open,28/5/2023,Grand Slam,Outdoor,Clay,1st Round,5,Kypson P.,0,Albot R.,150,323,111,154,564,3.200,1.36

In [8]:
datos_hombres.to_csv('final_hombres.csv', index=False)
datos_mujeres.to_csv('final_mujeres.csv', index=False)